@font-face {
  font-family: 'Gotham';
  src: local('Gotham Bold'), url(../src/assets/font/Gotham-Font/Gotham-Font/GothamMedium.ttf) format('woff');
}

@font-face {
  font-family: 'Gotham Bold';
  src: local('Gotham Bold'), url(../src/assets/font/Gotham-Font/Gotham-Font/GothamBold.ttf) format('woff');
}

@font-face {
  font-family: 'Gotham Thin';
  src: local('Gotham Bold'), url(../src/assets/font/Gotham-Font/Gotham-Font/GothamLight.ttf) format('woff');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin: 0;
  font-family: 'Gotham';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1f2833;
}

h1, h2, h3, h4, h5, .brand-logo {
  font-family: 'Gotham Bold' !important;
  letter-spacing: 1.6px;
}

.page-title {
  color: #95afc0;
  border-left: 5px solid #eb4d4b;
  text-align: left;
  padding-left: 20px;
  text-transform: uppercase;
}

.page-container {
  padding: 30px 12%;
}

.text-thin {
  font-family: 'Gotham Thin' !important;
}

.m-0 {
  margin: 0 !important;
}

.brand-logo {
  left: 2%;
}

.news-close {
  height: 0 !important;
  transition: 300ms;
}
.news-container {
  padding: 0 !important;
}
.carousel {
  transition: 300ms;
}
.row {
  /* margin-bottom: 0 !important; */
  margin: 0 auto !important;
}
.app-container {
  min-height: 100vh;
}

.news-button {
  top: -27px;
}

.hidden {
  background: transparent !important;
  color: transparent !important;
  border: 0px solid transparent;
}

.nav-bar-container {
  /* border-bottom: 3px solid #eb4d4b; */
}

.content-container {
  width: 85% !important;
}

.df-dark-background {
  background: rgb(30, 34, 42) !important;
}

.df-pink-text {
  color: #eb4d4b !important;
}
.df-pink-background {
  background: #eb4d4b !important;
}
.df-light-grey-background {
  background: #95afc0 !important;
}
.df-light-grey-text {
  color: #95afc0 !important;
}
.df-yellow-text {
  color: #f6e58d !important;
}
.df-dark-background-2 {
  background: rgb(51, 58, 72);
}
.df-black-text {
  color: #0e0e0e !important
}
.df-black-background {
  background: #0e0e0e !important
}

.news-header-text {
  font-size: 44px;
}

.news-item-1 {
  background-image: linear-gradient(to top,rgb(51, 58, 72), 60%,rgba(0,0,0,.52)),url(../../frontend/src/assets/esports-pic-1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.news-item-2 {
  background-image: linear-gradient(to top,rgb(51, 58, 72), 60%,rgba(0,0,0,.52)),url(../../frontend/src/assets/img/vp.jpg);
  background-position: center;
  background-size: cover ;
  background-repeat: no-repeat;
}

.parallax-overlay {
  width: 100%;
    height: 100%;
    padding: 42px 30px;
    background: linear-gradient(to top,rgb(51, 58, 72), 40%,rgba(51, 58, 72,.32));
}

.parallax-title {
  margin: 0;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.parallax-subtitle {
  color: #fff;
  margin: 12px 0;
  font-size: 30px;
  font-family: "Gotham Bold";
}

.parallax-league-img {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  margin: 20px;
  object-fit: cover;
  object-position: center right;
  border: 3px solid #eb4d4b;
  background: #95afc0;
}

.parallax-container {
  z-index: 9999;
}

.news-title-container {
  width: 50%;
  padding-right: 22px;
  position: absolute;
  top: 26px;
  right: 25px;
  text-align: right;
  border-right: 5px solid #eb4d4b;
}

.red-btn {
  background-color: #eb4d4b !important;
  border-radius: 6px !important;
}

.grey-btn {
  color: #1f2833 !important;
  background: #95afc0 !important;
  border-radius: 6px !important;
}

.login-modal-title {
  text-align: left;
  border-left: 5px solid #eb4d4b;
  padding-left: 22px;
  padding-bottom: 4px;
}

.modal-footer {
  padding: 24px !important;
  height: auto !important;
}

.forgot-password-text {
  text-align: right;
  margin-top: 0;
}

.news-title-container p {
  margin-right: 2px;
  margin-bottom: 4px;
}

.news-title-container h1 {
  text-transform: uppercase;
  margin-top: 0;
}

.news-text {
  font-size: 20px !important;
}

.league-header-container {
  width: 100%;
}

.league-header-title {
  float: left;
}

.league-header-location {
  float: right;
  padding-right: 15px;
}

.login-card {
  /* background: #1f344d !important; */
  color: #fff !important;
}

.df-table-head {
  font-size: 17px;
  border-bottom: 2px solid #95afc0;
}

.df-table-tr:hover {
  background: rgba(14, 14, 14, 0.4) !important;
}

.tabs {
  margin-bottom: 44px !important;
}

/* ---------------------------------------------------------------------------------------- */

.collapsible-header {
  border-bottom: 1px solid #1f2833 !important;
}

.collapsible {
  border-top: 1px solid transparent !important;
  border-right: 1px solid transparent !important;
  border-left: 1px solid transparent !important;
  margin: .5rem 0 1rem 0;
}

.collapsible-body {
  display: none;
  border-bottom: 0px solid #ddd !important;
  box-sizing: border-box;
  color: #fff;
  padding: 2rem;
}

.collection .collection-item {
  line-height: 1.5rem;
  padding: 10px 20px;
  margin: 0;
  color: #fff !important;
  background: #1f344d !important;
  border-bottom: 1px solid #1f2833 !important;
}

.collection {
  margin: .5rem 0 1rem 0;
  border: 0px solid transparent !important;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
}

/* ============================================================= tabs ========================== */

.tabs .tab a:focus, .tabs .tab a:focus.active {
  background-color: rgba(149, 175, 192, 0.2) !important;
  outline: none;
}
.tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 5px !important;
  background-color: #eb4d4b !important;
  will-change: left, right;
}

.df-tab {
  border-right: 1px solid rgba(14, 14, 14, .3) !important;
  /* border-left: 1px solid rgba(14, 14, 14, .3) !important; */
}


/* ========================================================== input =================================== */

input:not(.browser-default), 
input[type=password],
textarea.materialize-textarea {
  background-color: transparent;
  border: none;
  border: 2px solid rgba(149, 175, 192,0.4) !important;
  color: #95afc0 !important;
  border-radius: 6px !important;
  outline: 0px solid #fff;
  height: 3rem;
  width: 100%;
  font-size: 16px;
  margin: 0 0 8px 0;
  padding-left: 6px !important;
  box-shadow: none;
  box-sizing: content-box;
  transition: box-shadow .3s, border .3s;
  font-family: "Gotham" !important;
}

input:focus:not([readonly]),
textarea.materialize-textarea {
  /* border-bottom: 0px solid transparent !important; */
  color: transparent;
  box-shadow: 0 10px 0 0 #fff;
  border-bottom: 2px solid #95AFC0 !important;
}

.input-field input:focus 
.materialize-textarea:focus:not([readonly]) {
  border: 2px solid #95AFC0 !important;
  box-shadow: 0 0 0 0 #95AFC0 !important;
 }

 .input-field input:valid, 
 .materialize-textarea:valid:not([readonly]) {
  border: 2px solid #95AFC0 !important;
  box-shadow: 0 0 0 0 #95AFC0 !important;
 }

 .input-field input:invalid, 
 .materialize-textarea:invalid:not([readonly]) {
  border: 2px solid #EB4D4B !important;
  box-shadow: 0 0 0 0 #EB4D4B !important;
  /* color: #eb4d4b !important; */
 }

.input-field>label:not(.label-icon).active {
  transform: translateY(12px) scale(1) !important;
}

.input-label {
  font-family: "Gotham" !important;
  font-size: 20px !important;
  position: relative !important;
  top: -18px !important;
  float: left !important;
  left: 0 !important;
  color: #95AFC0 !important;
  width: 100%;
}

.input-valid {
  float: right;
}